
<section id="heading1" class="bg-white heading heading-1 pb-100">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="text--center">
					<img class="heading--img" src="assets/images/heading/heading-icon.png" alt="heading img">
					<p class="heading--subtitle">Powerful &amp; Creative</p>
					<h2 class="heading--title">Conatct Working page</h2>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<p class="heading--desc">We are Whole business, our strategists will help you set an objective and choose your tools, developing a plan that is custom built for your business. We make sure to provides unlimited collection of options, elements &amp; creative shortcode lists. All Whole elements can be easily styled, edited and modified in little easy steps to save your time!</p>
				</div>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>